*{
    margin: 0 0;
}

.body{
    background-color: #0F1320;
}

p, h1, h2, h3, h5, a{
    font-family: Century Gothic;
}

.part1{
    background-color: #0f1320;
    background-image: url(../Imagenes/bg-1.png);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.part1 .menu .menu1 , .part1 .menu .menu2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.part1 .menu2 .boton-2 {
    border: 2px solid #22A75D;
    border-radius: 52px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

.part1 a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.part1 .menu1 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.part1 .info-1 {
    display: flex;
    justify-content: space-around;
}

.part1 .info-1 .texto-1 {
    align-items: center;
    padding-top: 165px;
    padding-left: 120px;
}

.part1 .info-1 .texto-1 h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1672ba;

}

.part1 .info-1 .texto-1 h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;

}

.part1 .info-1 .texto-1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #DDE2FF;
    padding-top: 10px;
    padding-bottom: 25px;
}

.part1 .info-1 .boton-3 p {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #22A75D;
    color: #ffffff;
    border-radius: 52px;

}

.part1 .info-1 .texto-1 .boton-3 {
    height: 48px;
    width: 147px;
    border-radius: 52px; 
    background-color: #22A75D;
    text-align: center;

}

.part1 .info-1 .img1-p1 img {
    width: 780px;
}

.part1 .img2-p1 {
    display: none;
}


.part2 {
    background-color: #0f1320;
    display: flex;
    justify-content: space-around;
}

.part2 .c1-2 {
    width: 600px;
    height: 400px;
    background-color: #171B29;
    border-radius: 25px;
    margin-left: 45px;
}

.part2 .c2-2 {
    width: 600px;
    height: 400px;
    background: #171B29;
    border-radius: 25px;
    margin-top: 125px;
    margin-right: 45px;
}

.part2 .t1-2, .part2 .t2-2 {
    padding: 30px 35px;
    color: #ffffff;
}

.part2 .img-2 {
    width: 120px;
}

.part2 .t1-2 span {
    color: #22A75D;
    text-decoration: underline;
}

.part2 .t2-2 span {
    color: #2278D4;
    text-decoration: underline;
}

.part2 .t1-2 p, .part2 .t2-2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    opacity: 0.5;  
    padding-top: 10px;
    padding-bottom: 20px;  
}

.part2 .leermas-2-1 a {
    color: #22A75D;
}

.part2 .leermas-2-2 a {
    color: #2278D4;
}

.part3 {
    background-color: #0f1320;
    display: flex;
    padding-top: 100px;
}

.part3 .c1-3 {
    width: 50%;
}

.part3 .c1-3 img {
    width: 100%;
    height: 100%;
}

.part3 .c2-3 {
    width: 50%;
    background-color: #ffffff;
    border-radius: 267px 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part3 .texto-3 {
    padding-top: 137px;
    padding-left: 110px;
    padding-right: 90px;
    color: #0F1320;
}

.part3 .texto-3 h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.part3 .texto-3 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

.part4 {
    background-color: #0F1320;
    border-radius: 0px 230px 0px 0px;
    height: 1550px;
}

.part4 .part1-4 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.part4 .q1, .part4 .q2, .part4 .q3, .part4 .q4 {
    display: flex;
}

.part4 .p2021 {
    padding-top: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.part4 .part1-4 span {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
}

.part4 .part1-4 .q-1 span {
    color: #22A75D;
} 

.part4 .part1-4 .q-2 span {
    color: #2278D4;
} 

.part4 .part1-4 .q-3 span {
    color: #FFD100;
} 

.part4 .part1-4 .q-4 span {
    color: #E20613;
} 

.part4 .q-1 p, .part4 .q-2 p, .part4 .q-3 p, .part4 .q-4 p {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #ffffff;
    opacity: 0.7;
    width: 330px;
}

.part4 .p4 {
    width: 300px;
}

.part4 .q-1, .part4 .q-2, .part4 .q-3, .part4 .q-4 {
    padding-left: 10px;
} 

.part4 .part2-4 {
    display: flex;
    justify-content: space-around;
}

.part4 .part2-4 .img-4{
    width: 650px;
    padding-top: 117px;
}

.part4 .part2-4 .logo-4 {
    width: 80px;
    padding-left: 10px;
}

.part4 .part2-4 h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #ffffff;
    padding-left: 30px;
}

.part4 .part2-4 .p2-1-4 {
    display: flex;
    justify-content: flex-start;
}

.part4 .texto-2-4 {
    padding: 60px 65px 0 95px;
}

.part4 .part2-4 p {
    padding-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

.part4 .part2-4 .lastp-4{
    padding-bottom: 40px;
}

.part4 .part2-4 span {
    font-weight: 700;
}

.part4 .part2-4 a {
    text-decoration: none;
    color: white;
}

.part4 .part2-4 .boton-4{
    border: 1px solid #22A75D;
    width: 130px;
    height: 38px;
    text-align: center;
    padding-top: 15px;
    border-radius: 25px;
}

.part5{
    background-image: url(../Imagenes/f5.png);
    margin-top: -215px;
    height: 993px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.part5 h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #ffffff;
    padding: 0px 0 25px 500px;
}

.part5 .cuadros-5 {
    display: flex;
    justify-content: center; 
}

.part5 .esq1 img{
    margin: 215px 0 0 1080px;
}

.part5 .titulo-5 {
    padding-top: 330px;

}

.part5 .esq1 {
    width: 50px;
}



.part5 .cuadro-5 {
    width: 400px;
    height: 380px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 85px;
    border-radius: 20px;
}

.part5 .c5-2 {
    margin: 60px 30px 0 30px;
}

.part5 .c5-p1 h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    color: #191B21;
}

.part5 .c5-p1 p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #191B21;
    opacity: 0.8;
}

.part5 .c5-p1 {
    padding-bottom: 30px;
}

.part5 .c5-p2 h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
    color: #191B21;
    opacity: 0.8;
}

.part5 .c5-p2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #191B21;
    opacity: 0.8;
}

.part5 .c5-p2 span {
    font-weight: 700;
}

.part6 {
    background-color: #0F1320;
    background-image: url(../Imagenes/bg-2.png);
    margin-top: -208px;
    border-radius: 0 170px 0 0;
}

.part6 h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #F7F5F9;
    padding: 255px 0 45px 600px;
}


.part6 .cj-6{
    background: #171B29;
    border-radius: 25px;
    width: 400px;
    height: 220px;
    
}

.part6 .cj-6 p{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding: 35px 65px 19px 65px
}

.part6 .cajas-6 {
    display: flex;
    justify-content: center;
}

.part6 .cj-6 h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.3;
    margin: 20px 0 0 20px;
}

.part6 .cjj1{
    margin-left: 100px;
}

.part6 .cjj2 {
    margin: 45px 20px 115px 20px;
}

.part6 .cjj3{
    margin-right: 100px;
}

.part6 .flecha1 img{
    position: absolute;
    margin: 83px 0 0 -34px;
}

.part6 .flecha2 img{
    position:absolute;
    margin: 83px 0 0 -50px;

}


.part7 {
    background-color: #0F1320;
    background-image: url(../Imagenes/bg-2.png);
}

.part7 .p1-7 {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin-left: 260px;
}

.part7 .p1-7 a{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.part7 .p1-7 .slch{
    color: #ffffff;
    opacity: 0.16;
}

.menu-cel{
    display: none;
}

.part7 .p2-7 {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.part7 .p2-7 .logo img {
    padding-left: 65px;
}

.part7 .redes {
    display: flex;
}

.part7 .design {
    display: flex;
}

.part7 .p2-7 .fin p {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}

.part7 .p2-7 .design p {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-left: 85px;
}

/* Celular -600 */

@media only screen and (max-width: 600px) {

    .part1 .lista, .part1 .menu2, .part1 .boton-1, .part1 .boton-2{
        display: none;
    }

    .menu-mb{
        display: block;
    }

    .part1{
        background-image: url(../Imagenes/bg-cel.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .part1 .info-1{
        display: contents;
    }

    .part1 .info-1 .texto-1 {
        padding-top: 40px;
        padding-left: 30px;
    }

    .part1 .info-1 .img1-p1 img {
        display: none;
    }

    .part1 .info-1 .img2-p1 img {
        display: block;
    }




    

}

